apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cluster-samples-operator-proxy-reader
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
rules:
  - apiGroups:
      - config.openshift.io
    resources:
      - proxies
    verbs:
      - get
      - list
      - watch
